@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Message

<p>Willkommen bei der ersten eigenen MVC Seite</p>

<ul>

<li>@Html.ActionLink("Details","Details")</li>
<li>@Html.ActionLink("Personen","List")</li>
<li>@Html.ActionLink("Erstellen","Create")</li>
<li><a href="@Url.Action("Index", "Home")">Startseite</a></li>

</ul>