@model IEnumerable<BadHomburg.Models.Person>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Anrede
        </th>
        <th>
            Vorname
        </th>
        <th>
            Nachname
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id } ) |
            @Html.ActionLink("Anzeigen", "Details", new { item.Id } )
        </td>
        <td>
            @item.Anrede
        </td>
        <td>
            @item.Vorname
        </td>
        <td>
            @item.Nachname
        </td>
    </tr>
}

</table>

