@model BadHomburg.Models.Person

    <div class="display-label">@Html.LabelFor(p=>p.Anrede)</div>
    <div class="display-field">@Html.DisplayFor(p=>p.Anrede)</div>

    <div class="display-label">@Html.LabelFor(p=>p.Vorname)</div>
    <div class="display-field">@Html.DisplayFor(p=>p.Vorname)</div>

    <div class="display-label">@Html.LabelFor(p=>p.Nachname)</div>
    <div class="display-field">@Html.DisplayFor(p=>p.Nachname)</div>

    <div class="display-label">@Html.LabelFor(p=>p.Geburtsjahr)</div>
    <div class="display-field">@Html.DisplayFor(m=>m.Geburtsjahr)</div>

